@{
    ViewBag.Title = "Home Page";
}

<p>
    <input type="hidden" id="newmessage_username" value="SOME USERNAME" />
    Message<br />
    <input type="text" id="newmessage_messagebody" size="70" />
    <input type="button" value="Send" id="newmessage_sendbutton" onclick="sendNewMessage()" />
</p>

<h2>Chat</h2>
<h4 id="message"></h4>
<div id="chatarea">
</div>

<script>


    $(document).ready(function () {
        $("#message").html("Waiting for update...");
        var refreshId = setInterval(
            "updateChatArea()",
            5000);
    });

    function updateChatArea() {
        $.getJSON(
            "/Home/GetMessages/",
            null,
            function (data) {
                $("#message").html += "Fetching...";
                $("#chatarea").html("");
                var x;
                if (data.length > 0) {
                    for (x in data) {
                        $("#chatarea").html(
                            $("#chatarea").html() +
                            "<p><b>" +
                            data[x].Username + "</b> <i>(" +
                            data[x].PostDateTime + ")</i> - " +
                            data[x].MessageBody + "</p>");
                    }
                }
                else {
                    $("#chatarea").html("<p>No Messages</p>");
                }
            });
        $("#message").html("Messages loaded.");
    }

    function sendNewMessage() {
        $.post(
            "/Home/AddMessage",
            {
                Username: $("#newmessage_username").val(),
                MessageBody: $("#newmessage_messagebody").val()
            });
        $("#newmessage_messagebody").val("");
        updateChatArea();
    }

</script>